:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;

  --c-dark: #2f353f;
  --c-grey-d4: #404040;
  --c-grey: #cccccc;
  --c-grey-l1: #ededed;
  --c-light: #fcfcfc;

  --c-primary: #4c8bf7;

  color: var(--c-dark);
}

body {
  background-color: var(--c-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
