:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 400;

  --c-dark: #2f353f;
  --c-grey-d4: #404040;
  --c-grey: #cccccc;
  --c-grey-l1: #ededed;
  --c-light: #fcfcfc;
  --c-primary: #4c8bf7;

  --l-width: 240px;
  --l-height: 48px;
  --l-padding: 0.6em;
  --l-border-radius: 4px;

  color: var(--c-dark);
}

body {
  background-color: var(--c-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  font-size: 1rem;
  cursor: pointer;
}

input {
  font-size: 1rem;
  outline-color: var(--c-primary);
}

#app {
  max-width: 840px;
  padding-top: 48px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;
}
